<app-header></app-header>
<div class="Content">
  <img src="../../../../../assets/WtoP.png">
  <h1>
    Sobre nós
  </h1>
  <div class="text">
    <div>
      <h1>Quem Somos?</h1>
      <hr>
      <p>
        Somos uma equipe apaixonada por jogos e entusiastas da indústria de videogames. Nossa missão é facilitar a descoberta de novos jogos e tornar a experiência de encontrar o próximo jogo perfeito mais simples e emocionante para os jogadores de todas as idades e gostos.
      </p>
    </div>
    <div>
      <h1>O que buscamos?</h1>
      <hr>
      <p>
        Buscamos oferecer uma plataforma intuitiva e abrangente para ajudar os jogadores a encontrarem os melhores jogos para jogar, de acordo com suas preferências individuais. Queremos criar uma comunidade de jogadores entusiasmados que possam compartilhar suas experiências e descobrir novos títulos que realmente os cativem.
      </p>
    </div>
    <div>
      <h1>Como ajudar?</h1>
      <hr>
      <p>
        Nossa plataforma ajuda você a encontrar jogos sob medida para suas preferências. Com base em uma combinação de recomendações especializadas e algoritmos inteligentes, oferecemos sugestões personalizadas de jogos que você certamente irá desfrutar. Além disso, você pode contribuir para a comunidade compartilhando suas próprias recomendações e avaliações.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
