form{
  display: flex;
  flex-direction: column;

  h1{
    font-size: 28px;
    font-weight: 400;
    align-self: center;
    font-family: 'Poppins', sans-serif;
  }

  hr{
    width: 100%;
    border: 1px solid var(--primary-red);
  }

  label{
    font-size: 20px;
    padding: 15px 0px;
  }

  input{
    width: 100%;
    align-self: flex-start;
    background: none repeat scroll 0 0 transparent;
    background-color: rgba($color: white, $alpha: .15);
    border-radius: 10px;
    border: medium none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .0); // Apenas pra evitar um bug de flik
    color: white;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 10px 5px 10px 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    transition: all 100ms;

    &:focus{
      outline: none;
      border-radius: 10px 10px 0px 0px;
      border-bottom: 1px solid var(--primary-red);
    }
  }
}

button {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 20px;
  margin: 20px;
  background: none;
  border-radius: 10px;
  border: 2px solid var(--primary-red);
  color:white;
  cursor: pointer;
  transition: all 150ms;
  justify-self: center;

  &:hover{
    border: 2px solid var(--primary-red);
    background-color: var(--primary-red);
  }
}

button:disabled{
  background-color: rgba($color: rgb(148, 148, 148), $alpha: .25);
  color: rgb(148, 148, 148);
  cursor: default;
}

.error{
  color: red;
}
