header {
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba($color: #202020, $alpha: 1) 60%, rgba($color: #202020, $alpha: .1) );
  padding: 20px;

  color: white;

  .Content {
    display: flex;
    justify-content: space-between;
  }

  .Logo{
    cursor: pointer;
    align-self: center;
    justify-self: center;

    img{
      width: 150px;
    }
  }

  .Menu{
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      li{
        list-style-type: none;
        padding: 0px 15px;

        &:hover{
          color: var(--primary-red)
        }
      }

      .Login li{
        padding:  10px;

        color: var(--primary-red);
        border-radius: 10px;
        border: 2px var(--primary-red) solid;
        font-weight: bolder;

        transition: all 200ms;

        &:hover{
          background-color: var(--primary-red);
          color: white;
        }
      }
    }
  }

  .Logged{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img{
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: 2px solid var(--primary-red);
    }

    a{
      cursor: pointer;
      &:hover{
        color: var(--primary-red);
      }
    }
  }
}
