<header>
  <div class="Content">
    <div class="Logo" (click)="redirectByUrl('')">
      <img src="../../../assets/WhatToPlay_Logo.png">
    </div>
    <div class="Menu" *ngIf="!userLogged">
      <ul>
        <li (click)="redirectByUrl('about')">Sobre nós</li>
        <li (click)="redirectByUrl('signup')">Cadastre-se</li>
        <div class="Login">
          <li (click)="redirectByUrl('login')">Login</li>
        </div>
      </ul>
    </div>
    <div class="Logged" *ngIf="userLogged">
      <a (click)="logout()" >Sair</a>
      <a (click)="redirectByUrl('browser')" >Minha lista</a>
      <a class="BemVindo" (click)="redirectByUrl('browser')"> {{ user.firstName }}</a>
      <img [src]="user.perfilIcon">
    </div>
  </div>
</header>
