<app-header></app-header>
<div class="game-tile-container">
  <div *ngFor="let image of gameImagesShowing" class="game-tile">
    <img [src]="image" alt="Game Cover">
  </div>
  <div class="overlay">
    <div class="Content">
      <img src="../../../../assets/WhatToPlay_Logo.png">
      <h1>Descubra qual vai ser seu próximo jogo!</h1>
      <p>
        WhatToPlay é o seu Netflix personalizado para jogos, fornecendo recomendações especializadas de acordo com suas preferências. Descubra uma vasta coleção de jogos de diferentes gêneros, plataformas e estilos, todos cuidadosamente selecionados para combinar com seu gosto de jogar. Seja fã de ação, aventura, estratégia ou jogos independentes, o WhattoPlay tem tudo o que você precisa. Diga adeus à fadiga de decisão e deixe o WhatToPlay te guiar para sua próxima aventura nos jogos.
      </p>
      <button class="SaibaMais" (click)="redirectUrl('about')" >Saiba mais!</button>
      <button class="Signup" (click)="redirectUrl('signup')">Cadastrar-se</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
