<app-header></app-header>
<div class="Containter">
  <div class="BackgroundImg"></div>
  <div>
    <img class="MiniLogo">
    <title>O que você vai jogar?</title>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet ipsam,
      accusantium aperiam, reprehenderit corporis hic amet enim, numquam suscipit
      repellat nihil ut ipsum. Labore sit enim deleniti voluptate
      laudantium amet?</p>
      <button>O que é WhatToPlay?</button>
      <button>Entrar</button>
  </div>
</div>
<app-footer></app-footer>
