@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
  --primary-purple : #6c17be;
  --dark-purple : #1e1830;

  --primary-red : #fb006a;
  --primary-blue : #0189fc;
  --primary-gray : #f6f6f6f;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  background-color: var(--dark-purple);
}

body{
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
