<div class="Container">
  <form [formGroup]="loginForm">
    <div class="icon" (click)="redirectByUrl('')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <img src="../../../../assets/WhatToPlay_Logo.png">
    <h1 class="title">
      Login
    </h1>
    <hr>
    <label>Usuário</label>
    <input id="User" type="text" formControlName="user" placeholder="Digite seu usuario">
    <label>Senha</label>
    <input id="Password" type="password" formControlName="password" placeholder="Digite sua senha">
    <button type="submit" (click)="authenticate()">Entrar</button>
    <p class="error" *ngIf="hasUserFailedAuthentication">Usuário ou senha inválidos</p>
  </form>
</div>
