form{
  --selected : #07d700c1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  hr{
    width: 100%;
  }

  div{
    p{
      width: 100%;
      font-style: italic;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      align-self: center;
      justify-self: center;
    }
  }

  .genres{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: none;
    margin-top: 10px;
    gap: 10px;

    .genreBox{
      background-color: rgba($color: white, $alpha: 0.05);
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid var(--primary-blue);
      cursor: pointer;

      transition: all 150ms;

      &:hover{
        background-color: var(--primary-blue);
      }
    }

    .selected{
      background: var(--selected);
      border: 1px solid var(--selected);

      &:hover{
        background: var(--selected);
        border: 1px solid var(--selected);
      }
    }
  }
}
